p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

header h1 {
  translate: 60px;
}


#app-header {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}
#new-obituary-button {
  padding: 20px 20px;
  font-size: 13px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#new-obituary-button:hover {
  background-color: #ccc;
}
#header-wrapper {
  border-bottom: 1px solid #ccc;
}


#body {
  text-align: center;
  font-weight: bold;
  color: grey;
  transform: translateX(-55px);
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  #body {
    grid-template-columns: repeat(2, 1fr); /* 2 columns when screen width is 1200px or less */
  }
}

@media screen and (max-width: 600px) {
  #body {
    grid-template-columns: repeat(1, 1fr); /* 1 column when screen width is 600px or less */
  }
}

/* adjust body h1 to be centered in the grid*/
#body h1 {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: grey;
  font-weight: bold;
  text-align: center;
  transform: translateX(55px);

}
#center-box-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#blue-rectangle {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;

  /* Center the blue rectangle horizontally and vertically */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Add a border */
  border: 1px solid #ccc;

}

#blue-rectangle form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blue-rectangle form > * {
  margin-bottom: 10px;
}

#blue-rectangle h2 {
  margin-bottom: 0px;
  font-size: 2.5rem;
}

#blue-rectangle img {
  width: 40%;
  height: auto;
  margin-bottom: 100px;
  margin-top: auto;
}

#image-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

#name-input {
  width: 60%;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  border: 0.5px solid #ccc;
}

/* #birthDate, #deathDate {
  border: none;
  background-color: transparent;
  font-family: inherit;

} */



#dates-wrapper {
  display: flex;
  justify-content: space-evenly;  
  width: 60%;
  background-color: transparent;
}

#dates-wrapper label {
  /* margin-right: -140px; */
  /* display: inline-block; */
  width: 110px;
  text-align: right;
}

#dates-wrapper input {
  background-color: transparent;
  border: none;
}

h2 {
  color: black;
}


/* submit button */
#submit-button {
  display: inline-block;
  font-size: large;
  background-color: hsl(169, 83%, 43%);
  color: hsl(169, 83%, 43%);
  border: 1px solid hsl(169, 83%, 43%);
  padding: 20px 20px;
  cursor: pointer;
  color: white;
  margin-top: 60px;
  width: 60%;
  border-radius: 10px;
}


#close-blue-rectangle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
}

#close-blue-rectangle-button:hover {
  background-color: #ccc;
}

#message {
  padding: 10px;
  color: black;
  font-family: cursive;
}

.play-button {
  padding: 10px;
  border: none;
  background-color: transparent;
}

.play-button:hover {
  background-color: #ccc;
}