.obituary-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* columns will be auto-sized with a minimum of 250px and maximum of 1fr */
  grid-gap: 20px;
  grid-auto-flow: dense;
}

.obituary {
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  translate: 50px;
  size: auto;
  margin: auto;
}


.obituary img {
  width: 100%;
}

.obituary h2 {
  margin-top: 10px;
  margin-bottom: 1.5px;
}
